@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary:  #F3F5FC;
    --dark-blue-300: #0A3871;
    --white: #ffffff;
    --gray: #D8DFE8;
    --gray400: #495057;

    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    background-color: var(--primary);
    box-sizing: border-box;
}

.logo_titulo{

    padding: 2% 2%;
}

.main{
    padding: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__seccion__contenido{
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 500px;
}

.contenido__frase{
    width: 680px;
    height: 288px;
    border-color: var(--primary);
    outline: none;
    border: none;
    background-color: var(--primary);
    font-family: var(--fuente-inter);
    font-size: 32px;
    color: var(--dark-blue-300);
    line-height: 150%;
   
}


.presentacion__acciones{
    display: flex;
    box-sizing: border-box;
    justify-content: center ;
    gap: 24px;
}

.acciones__encripta{
    width: 328px;
    background-color: var(--dark-blue-300);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 16;
    text-decoration: none;
    color: var(--white);
}

.acciones__descifra{
    width: 328px;
    background-color: var(--gray);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    color: var(--dark-blue-300);
    font-size: 16;
    text-decoration: none;
    
}

.base__contenido__mensaje{
    width: 400px;
    height: 944px;
    background-color: var(--white);
    border-radius: 48px;
    box-shadow: 14px 14px 20px 0px var(--gray);
}

.contenido__sin__mensaje{
    padding: 50% 0%;
    /* display: none; */
}

.contenido__con__mensaje{
    height: 720px;
    /* display: none;  */
}

.texto__respuesta{
    padding: 12% 8%;
    width: 336;
    height: 720;
    font-family: var(--fuente-inter);
    font-size: 24px;
    color: var(--gray400);
    line-height: 150%;
}

.caja__boton__copiar{
    height: 224px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: center;
}

.accion__copiar{
    margin: 34% 8%;
    width: 336px;
    height: 67px;
    border-radius: 24px;
    border-color: var(--dark-blue-300);
    background-color: var(--white);
    font-family: var(--fuente-inter);
    color: var(--dark-blue-300);
    font-size: 16;
}

.presentacion__advertencia{
    font-family: var(--fuente-inter);
    font-size: 12px;
    color: var(--dark-blue-300);
    margin: 16px;
}


.sin__mensaje__titulo{
    font-family: var(--fuente-inter);
    font-size: 24px;
    font-weight: bold;
    width: 372px;
    height: 67px;
    text-align: center;

}

.sin__mensaje__texto{
    align-content: center;
    font-family: var(--fuente-inter);
    font-size: 16px;
    width: 372px;
    height: 67px;
    text-align: center;
}
